#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define BASE 0
#define NUMBERS 1
#define SYMBOLS 2
#define SYSTEM 3
#define GAMING 4
#define LOCK 5

// Behavior Overrides
&lt {
  tapping-term-ms = <200>;
  flavor = "hold-preferred";
};

/ {
  macros {
    // Spotlight
    spotlight: spotlight {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings = <&macro_press &kp LGUI>, <&macro_tap &kp SPACE>, <&macro_release &kp LGUI>; 
    };

    // Emoji
    windows_emoji: windows_emoji {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings = <&macro_press &kp LGUI>, <&macro_tap &kp DOT>, <&macro_release &kp LGUI>; 
    };

    // Win + Tab
    win_tab: win_tab {
      compatible = "zmk,behavior-macro";
      #binding = <0>;
      bindings = <&macro_press &kp LGUI>, <&macro_tap &kp TAB>, <&macro_release &kp LGUI>;
    };
  };

  behaviors {
    bm: bottom_row_mods {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping-term-ms = <135>;
      quick-tap-ms = <0>;
      flavor = "tap-preferred";
      bindings = <&kp>, <&kp>;
    };

    cm: code_row_mods {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping-term-ms = <200>;
      quick-tap-ms = <0>;
      flavor = "tap-preferred";
      bindings = <&kp>, <&kp>;
      retro-tap;
    };

    sm: space_mod {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      flavor = "balanced";
      tapping-term-ms = <200>;
      quick-tap-ms = <125>;
      bindings = <&kp>, <&kp>;
    };

    td_multi_mac: tap_dance_multi_mac {
      compatible = "zmk,behavior-tap-dance";
      #binding-cells = <0>;
      tapping-term-ms = <200>;
      bindings = <&sm ESC LALT>, <&spotlight>, <&kp LCTRL>, <&mac_emoji>;
    };

    td_multi_windows: tap_dance_multi_windows {
      compatible = "zmk,behavior-tap-dance";
      #binding-cells = <0>;
      tapping-term-ms = <200>;
      bindings = <&sm ESC LALT>, <&kp LGUI>, <&windows_emoji>;
    };
  };

  keymap {
    compatible = "zmk,keymap";

    mac_default_layer {
      display-name = "Base";
      bindings = <
        &kp Q     &kp W     &kp E     &kp R     &kp T     &kp Y     &kp U     &kp I     &kp O     &kp P
        &kp A     &kp S     &kp D     &kp F     &kp G     &kp H     &kp J     &kp K     &kp L     &kp BCSPC
        &kp Z     &kp X     &kp C     &kp V     &kp B     &kp N     &kp M     &kp ,     &kp .     &kp DEL
        &kp 1     &kp W     &kp E     &kp R     &kp T     &kp Y
      >;
    };

    windows_default_layer {
      display-name = "Numbers";
      bindings = <
        &kp Q     &kp W     &kp E     &kp R     &kp T     &kp Y     &kp U     &kp I     &kp O     &kp P
        &kp Q     &kp W     &kp E     &kp R     &kp T     &kp Y     &kp U     &kp I     &kp O     &kp P
        &kp Q     &kp W     &kp E     &kp R     &kp T     &kp Y     &kp U     &kp I     &kp O     &kp P
        &kp 1     &kp W     &kp E     &kp R     &kp T     &kp Y
      >;

    };

    gaming_layer {
      display-name = "Symbols";
      bindings = <
        &kp Q     &kp W     &kp E     &kp R     &kp T     &kp Y     &kp U     &kp I     &kp O     &kp P
        &kp Q     &kp W     &kp E     &kp R     &kp T     &kp Y     &kp U     &kp I     &kp O     &kp P
        &kp Q     &kp W     &kp E     &kp R     &kp T     &kp Y     &kp U     &kp I     &kp O     &kp P
        &kp 1     &kp W     &kp E     &kp R     &kp T     &kp Y
      >;

    };

    code_layer {
      display-name = "System";
      bindings = <
        &kp Q     &kp W     &kp E     &kp R     &kp T     &kp Y     &kp U     &kp I     &kp O     &kp P
        &kp Q     &kp W     &kp E     &kp R     &kp T     &kp Y     &kp U     &kp I     &kp O     &kp P
        &kp Q     &kp W     &kp E     &kp R     &kp T     &kp Y     &kp U     &kp I     &kp O     &kp P
        &kp 1     &kp W     &kp E     &kp R     &kp T     &kp Y
      >;
    };

    number_layer {
      display-name = "Gaming";
      bindings = <
        &kp Q     &kp W     &kp E     &kp R     &kp T     &kp Y     &kp U     &kp I     &kp O     &kp P
        &kp Q     &kp W     &kp E     &kp R     &kp T     &kp Y     &kp U     &kp I     &kp O     &kp P
        &kp Q     &kp W     &kp E     &kp R     &kp T     &kp Y     &kp U     &kp I     &kp O     &kp P
        &kp 1     &kp W     &kp E     &kp R     &kp T     &kp Y
      >;
    };

    function_layer {
      display-name = "Lock";
      bindings = <
        &kp Q     &kp W     &kp E     &kp R     &kp T     &kp Y     &kp U     &kp I     &kp O     &kp P
        &kp Q     &kp W     &kp E     &kp R     &kp T     &kp Y     &kp U     &kp I     &kp O     &kp P
        &kp Q     &kp W     &kp E     &kp R     &kp T     &kp Y     &kp U     &kp I     &kp O     &kp P
        &kp 1     &kp W     &kp E     &kp R     &kp T     &kp Y
      >;
    };
  };
};
