if SHIELD_LDK_FLATBOARD_LEFT

config ZMK_KEYBOARD_NAME 
  default "ldk_flatboard"

config ZMK_SPLIT_ROLE_CENTRAL
  default y

endif

if SHIELD_LDK_FLATBOARD_LEFT || SHIELD_LDK_FLATBOARD_RIGHT

config ZMK_SPLIT
  default y

endif
