if SHIELD_LDKSKEL_LEFT 
config ZMK_KEYBOARD_NAME 
  default "ldkskel"

config ZMK_SPLIT_ROLE_CENTRAL
  default y

endif

if SHIELD_LDKSKEL_LEFT || SHIELD_LDKSKEL_RIGHT

config ZMK_SPLIT
  default y

endif
