if SHIELD_LDK_SKELEBOARD_LEFT

config ZMK_KEYBOARD_NAME 
  default "ldk_skeleboard"

config ZMK_SPLIT_ROLE_CENTRAL
  default y

endif

if SHIELD_LDK_SKELEBOARD_LEFT || SHIELD_LDK_SKELEBOARD_RIGHT

config ZMK_SPLIT
  default y

endif
